<div class="container" id="home-container">
    
    <div class="jumbotron text-center">
        
        <h1 class="display-4">Ma homepage !</h1>
        <p class="lead">Bienvenue sur la page d'accueil, c'est cool !</p>
        <hr class="my-4">
        <p>Voilà une autre phrase pour vous faire plaisir !</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-primary btn-lg" %>
    </div>
</div>
